<div class="container mb-lg-5">
  <div class="row">
    <div class="col-md-12" >
<!--      header components-->
      <app-header></app-header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" >
      <app-premise
      ></app-premise>
    </div>
  </div>
</div>

<!--button submit-->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <button
        type="submit"
        class="btn btn-primary btn-lg mr-4 "
        (click)="onSubmit()"
      >SUMBIT</button>
      <button
        type="submit"
        class="btn btn-secondary btn-lg"
        (click)="onClear()"
      >CLEAR</button>
    </div>
  </div>
</div>

<!--premise input-->
<div class="container" *ngIf="condition">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-dark mt-3 r" role="alert">
        <span class="badge badge-pill badge-info mb-2">PREMISE 1</span>
        <P>{{input1}}</P>
        <p>{{Eq1}}</p>
      </div>
      <div class="alert alert-dark " role="alert">
        <span class="badge badge-pill badge-dark mb-2">PREMISE 2</span>
        <P>{{input2}}</P>
        <p>{{Eq2}}</p>
      </div>
      <div class="alert alert-dark" role="alert">
        <span class="badge badge-pill badge-primary mb-2">CONCLUSION</span>
        <P>{{input3}}</P>
        <p>{{Eq3}}</p>
      </div>
      <div class="alert alert-info" role="alert">
        {{answer}}
      </div>
    </div>
  </div>
</div>
